language: python
python:
    - "3.7"

before_install:
    - "sudo apt-get update"
    - "sudo apt-get install gfortran"
    - "sudo pip install --upgrade pip"
    - "pip install numpy"
    - "pip install rocketcea"
    - "pip install scipy"
    - "pip install rocketprops"

env: 
    - FC=gfortran

install:
    - "pip install rocketisp>=0.1.5"
    
script:
    - py.test 
